<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Edit Investment</title>
</head>
<body>
   <h1>Edit Investment</h1>
   <form action="/admins/investment/<%= InvestmentId %>/edit" method="post">
      <p>
         <label>Investment Name</label>
         <input type="text" name="investmentName" value="<%= investment.investmentName %>">
      </p>
      <p>
         <label>Investment Type</label>
         <select name="investmentType">
            <% const types = [ 'Saham', 'Campuran', 'Obligasi' ] %>
            <% types.forEach(el => { %>
               <option value="<%= el %>" <%= el == investment.investmentType ? 'selected' : '' %>><%= el %></option>
            <% }) %>
         </select>
      </p>
      <p>
         <label>Return Of Investment</label>
         <input type="number" name="returnOnInvestment" value="<%= investment.returnOnInvestment %>">
      </p>
      <p>
         <input type="submit" value="Submit">
      </p
      
   </form>
</body>
</html>